body {
    background-color: #000000;
    color: #F4DBD8;

    font-family: "Noto Sans JP", serif;
}

header {
    display: flex;
    justify-content: space-between;

    padding: 2%;
}

hr {
    color: #F4DBD8;
}

h1 {
    padding: 0;
    margin: 0;
}

h2 {
    padding-left: 2%;
}

figure {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1%;
}

section div {
    display: flex;
    justify-content: space-between;
}

section div div {
    justify-content: center;
}

section div button {
    margin-top: 50%;

    height: 25px;
    width: 25px;

    color: #F4DBD8;

    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #000000;
}

section div button:hover {
    background-color: bisque;
    color: #000000;
}

section div button:active {
    background-color: #ffb7c5;
    color: #000000;
}

textarea {
    margin-top: 8%;

    width: 150px;
    height: 20px;

    color: #F4DBD8;

    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #000000;

    resize: none;
}

#buttons {
    display: flex;
    justify-content: center;
}

#buttons figure button {
    width: 100px;
    height: 100px;
    color: #F4DBD8;

    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #000000;
}

#buttons figure button:hover {
    background-color: bisque;
    color: #000000;
}

#buttons figure button:active {
    background-color: #ffb7c5;
    color: #000000;
}

#buttons figure figcaption {
    font-size: smaller;
}